.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'sans-serif';
}