.header {
  margin: 0;
  margin: 41px auto 0;
  width: calc(100% - 200px *2);
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 100px * 2);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        margin: 28px auto 27px;
    }
}