.elements__like {
    background: url(../../../pictures/heart.svg);
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
}

.elements__like:hover {
    opacity: 0.5;
}

.elements__like:active {
    background: url(../../../pictures/heartactive.svg);
}