.elements__like {
    background: url(../../../pictures/heart.svg);
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.elements__like:hover {
    opacity: .5;
}