.profile__addbutton {
  padding: 0;
  width: 22px;
  height: 22px;
  background-image: url(../../../pictures/plus.svg)
}

@media screen and (max-width: 767px) {
    .profile__addbutton {
        width: 16px;
        height: 16px;
    }
}