.popup__form_profile {
    padding: 34px 36px 37px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #000000;
    max-width: 430px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 767px) {
      .popup__form_profile {
          padding: 22px 25px;
          max-width: 282px;
      }
  }