.popup__closebutton {
  background: url(../../../pictures/CloseIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
  border: none;
}

.popup__closebutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__closebutton {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
        background-size: contain;
    }
}